# Fichiers d'environnement
.env
.env.local
.env.*.local

# Fichiers de build
/bin
/dist

# Fichiers de dépendances
/vendor
/go.sum

# Fichiers de logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo 